.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contSuggeriti{
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.titolo{
    display: none;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.box_playlist{
    display: flex;
    flex-direction: column;
    
}

.confirm, .list, .show{
    display: none;
}

.containerFilm{
    display: flex;
 }

 .form-row{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .form-group{
     padding: 12px;
 }


 #contSuggeriti{
    display: none
}

 #contTrailer{
     display: none;
     flex-direction: column;
 }
