.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
 .containerFilm{
    display: flex;
 }

 .form-row{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .form-group{
     padding: 20px;
 }

 #risTrailer{
     display: none;
     flex-direction: column;
 }
